<h3>Input Nilai Siswa</h3>

<div>
  <form action="/">
    <label for="namaSiswa">Nama Siswa</label>
    <select id="namaSiswa" name="namaSiswa">
      <option value="gustira">Gustira</option>
      <option value="tono">Tono</option>
      <option value="marto">Marto</option>
    </select>

    <label for="materi">Materi</label>
    <select id="materi" name="materi">
      <option value="OOP">OOP</option>
      <option value="SQL">SQL</option>
      <option value="Java">Java</option>
    </select>
    
    <label for="fname">Nilai</label>
    <input type="text" id="nili" name="nilai" placeholder="Nilai Siswa">
  
    <input type="submit" value="Submit">
  </form>
</div>

