<h3>Jadwal</h3>
<div>
<label for="batch">Batch</label>
<select id="batch" name="batch">
  <option value="batch1">Batch1</option>
  <option value="batch2">Batch2</option>
  <option value="batch2">Batch3</option>
</select>

<table id="jadwal">
  <tr>
    <th>Tanggal</th>
    <th>Hari</th>
    <th>Materi</th>
  </tr>
  <tr>
    <td>3233</td>
    <td>Senin</td>
    <td>OOP</td>
  </tr>
  <tr>
    <td>3342</td>
    <td>Selasa</td>
    <td>Java</td>
  </tr>
  <tr>
    <td>324234</td>
    <td>Rabu</td>
    <td>Spring</td>
  </tr>
  
</table>

</div>
