<h2>
  Data Siswa
</h2>
<div>
<select id="batch" name="batch">  
  <option value="batch1">Batch1</option>
  <option value="batch2">Batch2</option>
  <option value="batch2">Batch3</option>
</select>

<table id="datasiswa">
  <tr>
    <th>Nama</th>
    <th>Alamat</th>
    <th>Email</th>
    <th>Jenis kelamin</th>
    <th>Hanphone</th>
    <th>Nilai</th>
  </tr>
  <tr>
    <td>Susan</td>
    <td>Jakarta</td>
    <td>susan@gmail.com</td>
    <td>Wanita</td>
    <td>434534</td>
    <td>80</td>
  </tr>
  
</table>

</div>
